* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #ddd;
}

/* header */
header{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 1.5em;
    border-bottom: 1px solid #000;
}

header a{
    text-decoration: none;
}

header a label{
    color: #0969da;
    font-family: 'Poppins',sans-serif;
    position: relative;
    left: 2.3em;
    top:-1.3em;
    font-weight: 700;
    font-size: 1.1em;
}

header a i{
    font-size: 2.7em;
    color: #000c;
}

section{
    display: flex;
    width: 100%;
    min-width: 350px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 4em;
}

/* cards */
.card{
    width: 210px;
    height: auto;
    margin: 15px;
    padding: 0.7em;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    background-color: #fff;
    font-family: 'Poppins',sans-serif;
}
.card h3{
    margin: 0.5em 0em;
}
.card h4{
    font-size: 0.875em;
    margin: 0.5em 0em;
    color: #888;
    font-weight: normal;
}

.card .button{
    width: 100%;
    border: none;
    padding: 0.7em;
    background-color: #695CFE;
    background-color: #000;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    margin: 0.5em 0em;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 1.25px 1.25px 10px rgba(0,0,0,0.5);
}

.card img{
    width: 100%;
}

.info{
    font-family: 'Poppins',sans-serif;
}